# Ignore Vim session data
*.vim

# Ignore obj files
*.o

# Ignore valgrind files
vgcore*

# Ignore ppm files in src and test directory
*.ppm
!img/*.ppm

# Ignore ctags
tags

# Ignore certain generated folders
**/~/*
**/1/*
1

# Ignore generated programs
*.progam
